<h1>Conform You Booking</h1>



<%= form_with(scope: :session, url: checkuser_path) do |f| %>
 
<div class="form-group">
  <%= f.label :username %><br/>
  <%= f.text_field :username, class: "form-control" %>
</div>
 

 
<div class="form-group">
  <%= f.submit "Confirm", class: "btn btn-primary" %>
</div>
 
<% end %>