<h1>Conform You Booking</h1>
<form class="" action="<%= checkuser_path %>" method="post">

    <%= token_tag %>
    <p>
    <label for="">username</label>
    <input type="email" name="username" value="">
    </p>

    <input type="submit" name="Submit" value="Confirm" class="btn">




</form>