<h1>About us</h1>

<p>We at CoVac.inc worked hard for bringing million of smiles on millions of faces and continuously fighting against covid-19.</p>

<a href="https://twitter.com/MoHFW_INDIA"  ><img src="/assets/twitterlogo.png" alt="" width="40" height="40" class="d-inline-block align-text-top"></a> &nbsp Connect with us on Twitter.
</br></br>
<a href="https://www.facebook.com/MoHFWIndia"  ><img src="/assets/facebooklogo.png" alt="" width="40" height="40" class="d-inline-block align-text-top"></a> &nbsp Connect with us on Facebook.